PyYAML==6.0.2
python-dotenv==1.0.1
fastapi==0.115.5
uvicorn==0.32.0
APScheduler==3.10.4
requests==2.32.3
pydantic==2.9.2
SQLAlchemy==2.0.36
alembic==1.13.3
psycopg2-binary==2.9.9
gspread==6.1.4
google-auth==2.35.0
