name: Deploy to Railway

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Instalar Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Instalar Railway CLI
        run: npm install -g railway

      - name: Autenticar na Railway
        run: railway login --apiKey ${{ secrets.RAILWAY_TOKEN }}

      - name: Deploy para Railway
        run: railway up --ci